{% extends 'base.html.twig' %}

{% block title %}{% trans %}Country{% endtrans %} - {{ country_name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">

            {% if country_case is not null %}
                <h2 class="font-weight-bold text-center">
                    {{ country_name }}
                </h2>

                <h3 class="text-center">{% trans with {'{date}': country_case.casesChange.changeDate|date('d F, Y') } %}Pandemic data for {date}{% endtrans %}</h3>
                <hr>

                <div class="row mb-5">
                    <div class="col-10 offset-1 mb-4 col-lg-4 offset-lg-0">
                        <div class="card text-center ">
                            <div class="card-header bg-warning text-dark"><b>{% trans %}Active cases{% endtrans %}</b></div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-warning">
                                    {{ country_case.active|number }}
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 offset-1 mb-4 col-lg-4 offset-lg-0">
                        <div class="card text-center ">
                            <div class="card-header bg-primary text-dark"><b>{% trans %}Total recovered{% endtrans %}</b></div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-primary">
                                    {{ country_case.recovered|number }}
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 offset-1 mb-4 col-lg-4 offset-lg-0">
                        <div class="card text-center ">
                            <div class="card-header bg-info text-dark"><b>{% trans %}New recovered{% endtrans %}</b></div>
                            <div class="card-body">
                                <h4 class="font-weight-bold text-info">
                                    +{{ country_case.newRecovered|number }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="font-weight-bold text-center">{{ country_name }}: {% trans %}Daily change{% endtrans %}</h4>
                <div class="row mb-5">
                    <div class="col-10 offset-1 mb-4 col-lg-6 offset-lg-0 col-xl-3">
                        <div class="card text-center">
                            <div class="card-header bg-dark text-white"><b>{% trans %}New cases{% endtrans %}</b></div>
                            <div class="card-body">
                                {% if 0 > country_case.casesChange.new %}
                                    <h4 class="text-success">- {{ country_case.casesChange.newValue }}</h4>
                                    <div class="badge badge-primary">{{ country_case.newCases }} vs. {{ prev_record.newCases }}</div>
                                    <br>
                                    <div class="mt-1 badge badge-info">{% trans %}Less new cases than on{% endtrans %}<br>{{ prev_record_date }}</div>
                                {% else %}
                                    {% trans %}No positive dynamic{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-10 offset-1 mb-4 col-lg-6 offset-lg-0 col-xl-3">
                        <div class="card text-center">
                            <div class="card-header bg-success text-dark"><b>{% trans %}Daily recovered{% endtrans %}</b></div>
                            <div class="card-body">
                                {% if 0 < country_case.casesChange.recovered %}
                                    <h4 class="text-success">+ {{ country_case.casesChange.recoveredValue }}</h4>
                                    <div class="badge badge-primary">{{ country_case.newRecovered }} vs. {{ prev_record.newRecovered }}</div>
                                    <br>
                                    <div class="mt-1 badge badge-info">{% trans %}More recovered than on{% endtrans %}<br>{{ prev_record_date }}</div>
                                {% else %}
                                    {% trans %}No positive dynamic{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-10 offset-1 mb-4 col-lg-6 offset-lg-0 col-xl-3">
                        <div class="card text-center">
                            <div class="card-header bg-warning text-dark"><b>{% trans %}Serious cases{% endtrans %}</b></div>
                            <div class="card-body">
                                {% if 0 > country_case.casesChange.serious %}
                                    <h4 class="text-success">- {{ country_case.casesChange.seriousValue }}</h4>
                                    <div class="badge badge-primary">{{ country_case.serious }} vs. {{ prev_record.serious }}</div>
                                    <br>
                                    <div class="mt-1 badge badge-info">{% trans %}Less serious than on{% endtrans %}<br>{{ prev_record_date }}</div>
                                {% else %}
                                    {% trans %}No positive dynamic{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-10 offset-1 mb-4 col-lg-6 offset-lg-0 col-xl-3">
                        <div class="card text-center">
                            <div class="card-header bg-danger text-white"><b>{% trans %}Death{% endtrans %}</b></div>
                            <div class="card-body">
                                {% if 0 > country_case.casesChange.deaths %}
                                    <h4 class="text-success">- {{ country_case.casesChange.deathsValue }}</h4>
                                    <div class="badge badge-primary">{{ country_case.newDeaths }} vs. {{ prev_record.newDeaths }}</div>
                                    <br>
                                    <div class="mt-1 badge badge-info">{% trans %}Less died than on{% endtrans %}<br>{{ prev_record_date }}</div>
                                {% else %}
                                    {% trans %}No positive dynamic{% endtrans %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>


                <h4 class="font-weight-bold text-center">{{ country_name }}: {% trans %}Recovered total{% endtrans %}</h4>
                <div class="row mb-5">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <canvas id="chart-recovered" height="180" data-url="{{ url('json_country_recovered', {'country': country_case.country.id}) }}"></canvas>
                    </div>
                </div>

                <br>

                <h4 class="font-weight-bold text-center">{{ country_name }}: {% trans %}Recovered by day{% endtrans %}</h4>
                <div class="row mb-5">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <canvas id="chart-recovered-daily" height="180" data-url="{{ url('json_country_recovered_daily', {'country': country_case.country.id}) }}"></canvas>
                    </div>
                </div>

                <br>

                <h4 class="font-weight-bold text-center">{{ country_name }}: {% trans %}Active cases{% endtrans %}</h4>
                <div class="row mb-5">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <canvas id="chart-active" height="180" data-url="{{ url('json_country_active_cases', {'country': country_case.country.id}) }}"></canvas>
                    </div>
                </div>

                <br>

                <h4 class="font-weight-bold text-center">{{ country_name }}: {% trans %}New cases by day{% endtrans %}</h4>
                <div class="row mb-5">
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <canvas id="chart-new-daily" height="180" data-url="{{ url('json_country_new_daily', {'country': country_case.country.id}) }}"></canvas>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-danger text-center">{% trans %}Sorry, something goes wrong with the site{% endtrans %}</div>
            {% endif %}

        </div>
    </div>
{% endblock %}
