{% extends 'base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {% if country_cases is not empty %}
                <h3 class="font-weight-bold text-center">{% trans with {'{date}': last_record.day|date('d F Y') } %}Pandemic data per country by {date}{% endtrans %}</h3>

                <table id="countries" class="table table-bordered table-responsive-sm table-striped table-sortable">
                    <thead>
                    <tr>
                        <th data-class-name="text-nowrap">{% trans %}Country{% endtrans %}</th>
                        <th>{% trans %}Active{% endtrans %}</th>
                        <th>{% trans %}New{% endtrans %}</th>
                        <th>{% trans %}Recovered{% endtrans %}</th>
                        <th>{% trans %}Recovered change{% endtrans %}</th>
                        <th>{% trans %}Serious{% endtrans %}</th>
                        <th>{% trans %}Death{% endtrans %}</th>
                        <th>{% trans %}Death change{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for case in country_cases %}
                        <tr>
                            <th scope="row" data-ordering="false" class="font-weight-bold">
                                {{ case.country.name }}
                            </th>

                            <td data-order="{{ case.active }}" data-search="false">
                                {{ case.active|number }}
                            </td>

                            {% set change_new = case.newCases %}
                            <td class="{{ change_new > 0 ? 'text-white bg-danger' : '' }}">
                                {{ change_new|number_signed }}
                            </td>
                            <td>
                                {{ case.recovered|number }}
                            </td>

                            {% set change_recovered = case.casesChange.recovered %}
                            <td class="text-white {{ change_recovered < 0 ? 'bg-danger' : 'bg-success' }}">
                                {{ change_recovered|number_signed }}
                            </td>

                            <td>
                                {{ case.serious|number }}
                            </td>
                            <td>
                                {{ case.deaths|number }}
                            </td>

                            {% set change_death = case.casesChange.deaths %}
                            <td class="text-white {{ change_death >= 0 ? 'bg-danger' : 'bg-success' }}">
                                {{ change_death|number_signed }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger text-center">{% trans %}Sorry, no data available{% endtrans %}</div>
            {% endif %}

        </div>
    </div>
{% endblock %}
